<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.hneu.edu.languagetrainer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="ua.hneu.languagetrainer.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/Green_dark">
        
        <provider 
            android:name="ua.hneu.languagetrainer.db.dao.VocabularyDAO"
            android:authorities="ua.edu.hneu.languagetrainer.db.vocabularyprovider">   
        </provider> 
        
         <provider 
            android:name="ua.hneu.languagetrainer.db.dao.UserDAO"
            android:authorities="ua.edu.hneu.languagetrainer.db.userprovider">   
        </provider>   
          <activity
            android:name="ua.hneu.languagetrainer.masterdetailflow.ItemListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.masterdetailflow.ItemDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
         <activity
            android:name="ua.hneu.languagetrainer.pages.GreetingActivity"
            android:label="@string/title_greeting" >
        </activity>
         <activity
            android:name="ua.hneu.languagetrainer.pages.LevelDefinitionTestActivity"
            android:label="@string/title_level_def_test_activity" >
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.pages.AppSettings"
            android:label="@string/title_activity_app_settings" >
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.pages.vocabulary.WordIntroductionActivity"
            android:label="@string/title_activity_word_practice" >
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.pages.vocabulary.ResultActivity"
            android:label="@string/title_activity_word_practice_result" >
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.pages.vocabulary.MatchWordsActivity"
            android:label="@string/title_activity_match_the_words" >
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.pages.vocabulary.TranslationTestActivity"
            android:label="@string/title_translation_test_activity" >
        </activity>
        <activity
            android:name="ua.hneu.languagetrainer.pages.vocabulary.TranscriptionTestActivity"
            android:label="@string/title_transcription_test_activity" >
        </activity>
    </application>

</manifest>